<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<context-param>
		<param-name>slim3.rootPackage</param-name>
		<param-value>jp.co.example.myapp</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>application</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.request.charset</param-name>
		<param-value>UTF-8</param-value>
	</context-param>

	<filter>
		<filter-name>DatastoreFilter</filter-name>
		<filter-class>org.slim3.datastore.DatastoreFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DatastoreFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>ActionFilter</filter-name>
		<filter-class>jp.co.yoshidumi.core.controller.ActionFilter</filter-class>
		<init-param>
			<param-name>controller-package</param-name>
			<param-value>jp.co.example.myapp</param-value>
		</init-param>
		<init-param>
			<param-name>welcome-action</param-name>
			<param-value>index</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ActionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>20160</session-timeout>
	</session-config>
    
</web-app>
